{{ define "main" }}
<article class="page-content contact-page">
    <h1>Contact</h1>

    <div class="contact-info">
        <a href="mailto:margaretpetchell@xtra.co.nz" class="email">margaretpetchell@xtra.co.nz</a>

        <p class="contact-note">or for bookings, contact:</p>

        <div class="film-crews">
            <h2>FILM CREWS</h2>
            <a href="tel:+6496321032" class="phone">+64 (9) 632 1032</a>
            <a href="mailto:mail@filmcrews.co.nz" class="email">mail@filmcrews.co.nz</a>
            <a href="https://filmcrews.co.nz/crew/margaret-petchell/" class="website">www.filmcrews.co.nz</a>
        </div>
    </div>
</article>
{{ end }}
